.bbpress-content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.entry-content #bbpress-forums ul.bbp-lead-topic,
.entry-content #bbpress-forums ul.bbp-topics,
.entry-content #bbpress-forums ul.bbp-forums,
.entry-content #bbpress-forums ul.bbp-replies,
.entry-content #bbpress-forums ul.bbp-search-results {
	font-size: 14px;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	border-width: 1px 0 0;
}

#bbp_search {
	margin-right: 0;
}

.bbp-login-form .bbp-submit-wrapper {
	float: none;
}

.widget_display_stats dt {
	font-weight: normal;
}

.widget_display_stats dd {
	margin: 0 0 1em;
}