.hentry,
.page-header {
	margin-bottom: 1rem;
}

.hentry {
	padding: 1rem;
}

.entry-title {
	position: relative;
}

.continue-reading {
	clear: both;
}

.entry-content,
.entry-summary {
	padding-top: 0;
}

.entry-content input {
	margin-right: 10px;
}

.site-content .gallery {
	margin-bottom: 1.5em !important;
}

.gallery-caption {
}

[id*="gallery-"] img {
	border: none !important;
}

.site-content .gallery a img {
	height: auto;
	max-width: 90%;
}

.content .wp-caption {
	max-width: 100%;
	padding: 5px 5px 0;
}

.post-footer-avatar {
	float: left;
	margin-right: 1rem;
	vertical-align: top;
}

.post-footer-author {
	float: left;
}

.post-footer-author .social-nav-item {
	display: inline-block;
	margin: 0 10px 0 0;
}

.post-footer-body {
	margin-top: 10px;
}

.site-content [class*="navigation"] {
	overflow: hidden;
	border-width: 1px 0 0;
}

.site-content #comments + [class*="navigation"] {
	border: none;
}

.post-nav-title {
	display: block;
}

body:not(.single) [class*="navigation"] .nav-previous,
[class*="navigation"] .nav-next {
	float: left;
	width: 50%;
}

body:not(.single) [class*="navigation"] .nav-next {
	text-align: right;
}