.header-area {
	border-width: 0 0 1px;

	& .site-header {
		text-align: center;
		padding: .5rem 1rem;

		@media screen and (min-width: 768px) {
			text-align: left;
		}

		& .site-title,
		.site-description {
			display: block;

			& img {
				vertical-align: bottom;
			}
		}
	}
}