.sidebar .info-box {
	margin: 0 10px 10px;
}

.sidebar .info-text {
	margin-bottom: 16px;
}

.info-subtitle {
	display: block;
}

.info-note {
	font-style: italic;
}

.feature-box {
	position: relative;
	border-width: 0 0 1px;
}