.menu-area {
	border-width: 0 0 1px;

	& .menu {
		padding: 0;

		& .menu-toggle {
			display: block;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		& .main-menu {

			& > ul {

				@media screen and (min-width: 768px) {
					display: flex;
				}

				& > li {
					flex-wrap: wrap;
					border-width: 0 1px 0 0;
				}
			}

			& ul {
				list-style: none;
				padding-left: 0;
				margin: 0;

				& li {
					position: relative;

					& a {
						display: inline-block;
						padding: 10px 1rem;
					}
				}

				& li:hover > ul {
					display: block;
					top: 44px;
					box-shadow: none;

					& a {
						border-width: 0 0 1px;
						cursor: pointer;
					}

					& li:last-child a {
						border-width: 0;
					}
				}

				& ul {
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
					display: none;
					position: absolute;
					top: 1.5em;
					left: 0;
					z-index: 99999;

					& ul {
						left: 100%;
						top: 0;
					}

					& a {
						width: 200px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.main-navigation.toggled .nav-menu {
		display: block;
		margin-bottom: 10px
	}

	.menu-toggle {
		cursor: pointer;
	}

	.main-navigation {
		text-align: center;
		padding: 1rem;
	}

	.main-navigation ul {
		display: none;
	}

	.main-menu li {
		float: none;
	}

	.main-menu ul ul {
		display: block;
		float: none;
		position: static;
		box-shadow: none;
	}

	.main-menu > ul > li,
	.main-menu ul li:hover > ul,
	.main-menu ul li:hover > ul a,
	.main-menu > ul > li > a,
	.main-menu > ul > li > a:hover,
	.main-menu > ul > .current-menu-item > a {
		border: none;
	}

	.main-menu a:hover {
		color: #015F8E;
	}
}

[class*="navigation"] .nav-previous,
[class*="navigation"] .nav-next {
	padding: 1rem;
}