.sidebar input[type="search"],
.info-box,
.main-menu ul li:hover > ul,
.comment pre {
	background-color: #fff;
}

.header-area,
.feature-box,
.sidebar,
.single-post-footer,
.content .wp-caption,
#comments,
pre,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
input[type="search"] {
	background-color: #f5f5f5;
}

a,
.site-title a:hover,
.main-menu ul li:hover > ul a:hover {
	color: #015F8E;
}

.site-description,
.site-footer,
.entry-meta,
blockquote,
.comment-meta,
.info-note,
.wp-caption-text {
	color: #999;
}

.entry-meta a,
.social-nav-item:hover {
	color: #666;
}

.social-nav-item {
	color: #333;
}

body,
.site-title a,
.main-menu a,
.entry-title,
.entry-title h1,
.info-subtitle,
.widget-title {
	color: #222;
}

h1, h2,
.home .info-box h3 {
	font-size: 24px;
}

h3, h4,
.sidebar .info-box h3 {
	font-size: 20px;
}

h5, h6,
.comments-title,
.page-title {
	font-size: 16px;
}

.site-description,
.sidebar,
.site-footer,
.main-menu a,
input[type="search"],
.entry-meta,
.post-nav-title,
.info-note,
.wp-caption-text,
.post-footer-author a {
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6,
.sidebar,
.comments-title,
.info-note {
	line-height: 1.4em;
}
.site-description {
	line-height: 1em;
}

h1, h2, h3, h4, h5, h6, dt, b, th,
.site-title,
.main-menu a,
.comments-title,
.info-subtitle,
.cta-title,
strong,
input[type="submit"],
.button,
.logout-link,
.widget_calendar table caption {
	font-weight: 700;
}

caption,
th,
td {
	font-weight: 400;
}

.button,
.logout-link,
#commentform input[type="submit"],
.wp-caption-text,
.widget_calendar table caption,
.widget_calendar table th,
.widget_calendar table td {
	text-align: center;
}

a,
.content a:hover,
.feature-box a:hover,
mark,
ins,
a.button,
.button:hover,
.logout-link:hover,
.site-title a:hover,
.main-menu a:hover,
.content a.entry-title,
.entry-meta a,
.entry-meta a:hover,
.social-nav-item:hover {
	text-decoration: none;
}

a:hover,
.content a,
.feature-box a {
	text-decoration: underline;
}

.inner,
.hentry,
.type-download,
.page-header,
.single-post-footer,
.nocomments,
.feature-box .info-text,
.feature-box .info-cta,
.sidebar .info-box,
.note,
.tip,
[class*="navigation"] .nav-previous,
[class*="navigation"] .nav-next,
#comments,
.widget {
	padding: 1em;
}

.menu,
input[type="search"] {
	padding: 0;
}

.widget_calendar table th,
.widget_calendar table td,
.widget li {
	padding: 4px 8px;
}

figure,
.main-menu ul,
.page-header p:last-child,
.widget ul,
.site-content .gallery dd,
.post-footer-author p,
.post-footer-body p:last-of-type {
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
.comments-title,
.info-subtitle,
.widget {
	margin-bottom: 16px;
}

.entry-header,
.comment-meta {
	margin-bottom: 10px;
}

.site-content,
p,
address,
table,
blockquote,
pre,
.button,
#commentform input[type="submit"],
.featured-image,
.content .wp-caption,
.single-post-footer {
	margin-bottom: 1.2em;
}

.site-description,
.entry-title,
.post-footer-author h3,
.info-box-description p:last-child {
	margin-bottom: .2em;
}

.entry-title h1,
.more-link {
	margin-bottom: 0;
}

.sidebar input[type="search"],
.header-area,
.menu-area,
.main-menu > ul > li,
.main-menu ul li:hover > ul,
.main-menu ul li:hover > ul a,
.content .wp-caption,
.single-post-footer,
#comments,
#commentform input,
#commentform textarea,
.comment-list > .parent + .children,
.children > .children,
.comment-meta,
.feature-box,
.info-box,
.feature-box .info-text,
.feature-box .info-cta,
.sidebar,
.widget ul,
.widget li,
.site-footer,
.site-content [class*="navigation"],
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic,
#bbpress-forums fieldset.bbp-form,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
#bbpress-forums div.wp-editor-container {
	border: 1px solid #eaeaea;
}

fieldset,
.site-title img,
.main-menu a,
.site-content .navigation-comment,
.widget li:last-child,
.site-content .gallery a img{
	border: none;
}

input,
textarea,
.button,
.logout-link,
button,
.single-post-footer,
.note,
.tip,
#comments,
#bbpress-forums div.wp-editor-container {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}