.sidebar input[type="search"],
.main-menu ul li:hover > ul,
.comment pre {
	background-color: #fff;
}

pre {
	background-color: $background-alt;
}

.button,
.logout-link,
#commentform input[type="submit"],
.wp-caption-text,
.widget_calendar table caption,
.widget_calendar table th,
.widget_calendar table td {
	text-align: center;
}

.inner,
.hentry,
.type-download,
.page-header,
.single-post-footer,
.nocomments,
.note,
.tip,
[class*="navigation"] .nav-previous,
[class*="navigation"] .nav-next,
#comments,
.widget {
	padding: 1rem;
}

.menu,
input[type="search"] {
	padding: 0;
}

.widget_calendar table th,
.widget_calendar table td,
.widget li {
	padding: 4px 8px;
}

figure,
.main-menu ul,
.page-header p:last-child,
.widget ul,
.site-content .gallery dd,
.post-footer-author p,
.post-footer-body p:last-of-type {
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
.comments-title,
.widget {
	margin-bottom: 16px;
}

.entry-header,
.comment-meta {
	margin-bottom: 10px;
}

.site-content,
p,
address,
table,
blockquote,
pre,
.button,
#commentform input[type="submit"],
.featured-image,
.content .wp-caption,
.single-post-footer {
	margin-bottom: 1.2em;
}

.site-description,
.entry-title,
.post-footer-author h3 {
	margin-bottom: .2em;
}

.more-link {
	margin-bottom: 0;
}

.sidebar input[type="search"],
.header-area,
.menu-area,
.main-menu > ul > li,
.main-menu ul li:hover > ul,
.main-menu ul li:hover > ul a,
.content .wp-caption,
.single-post-footer,
#commentform input,
#commentform textarea,
.comment-list > .parent + .children,
.children > .children,
.widget ul,
.widget li,
.site-content [class*="navigation"] {
	border: 1px solid #eaeaea;
}

fieldset,
.site-title img,
.main-menu a,
.site-content .navigation-comment,
.widget li:last-child,
.site-content .gallery a img {
	border: none;
}

input,
textarea,
.button,
.logout-link,
button,
.single-post-footer,
.note,
.tip,
#comments {
	border-radius: 3px;
}