html {

	& * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		word-wrap: break-word;
	}

	& body,
	input,
	textarea {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 16px;
		line-height: 1.4;
	}

	& body {
		background: $background;

		& .main {
			margin: 0 auto;
			width: 100%;
			max-width: 1260px;
		}

		& .inner {
			position: relative;
			padding: 1rem;
		}

		& .site-content {

			@media screen and (min-width: 768px) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			& .content {

				@media screen and (min-width: 768px) {
					width: 65%;
				}
			}

			& .sidebar {

				@media screen and (min-width: 768px) {
					padding-top: 0;
					width: 30%;
				}
			}
		}
	}
}