body {
	background: #fff;
}

body,
input,
textarea,
.site-description {
	font: 400 14px/24px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.full {
	width: 100%;
}

.inner {
	position: relative;
}