html {

	& * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		word-wrap: break-word;
	}

	& body,
	input,
	textarea {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 18px;
		line-height: 1.4;
	}

	& body {
		background: $background;

		& .main {
			margin: 0 auto;
			width: 100%;
			max-width: 1260px;
		}

		& .inner {
			position: relative;
		}

		& .content {

			@media screen and (min-width: 768px) {
				float: left;
				width: 67%;
			}
		}

		& .sidebar {

			@media screen and (min-width: 768px) {
				float: right;
				padding-top: 0;
				width: 30%;
			}
		}
	}
}